body {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
  }
  
  section.topbar {
    background-color: #fce758;
    width: 35%;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .date_ville p{
     min-width: 110px;
  }
  h1{
      font-family: 'Poppins', sans-serif;
      font-size: 80px;
      text-align: left;
      margin-bottom: 0px;
      margin-top: 0px;
      color: #fce758;
      font-weight: 400;
  }
  h2{
      font-family: 'Poppins', sans-serif;
      font-size: 25px;
      margin-bottom: 10px;
      margin-top: 50px;
      border-bottom: 2px solid #fce758;
      padding-bottom: 5px;
  }
  h2 img{
    height: 50px;
    width: auto;
    margin-right: 15px;
  }
  .outline_text {
      font-weight: 200;
      text-align: left;
      color: black;
  }
  p {
      font-family: 'Poppins', sans-serif;
      font-size: 15px;
  }
  h3 {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 18px;
      margin: 0px;
      
      text-align: left;
  }
  h4 {
      color: #fce758;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 40px;
  }
  a {
      text-decoration: none;
      color: black;
  }
  .left_title {
      width: 100%;
      background-color: black;
      margin-bottom: 30px;
  }
  .portrait_top {
      width: 200px;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      margin-bottom: 60px;
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.13);
      -moz-box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.13);
      box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.13);
    background-image: url(Pics/profil.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .presentation {
      margin-top: 40px;
  }
  .presentation p{
    font-size: 20px;
}
  .contact {
      width: 70%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
  }
  .contact_row {
      display: flex;
      flex-direction: row;
      height: auto;
      margin: 5px 0px;
  }
  .contact_row p{
      margin-bottom: 0px;
      margin-top: 0px;
      margin-left: 8px;
  }
  img.contact_img {
      height: 25px;
  }
  
  .languages {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
  }
  .language_row p {
      margin: 0px 8px 0px 0px;
      width: 100px;
  }
  .language_row {
      display: flex;
      flex-direction: row;
  }
  
  span.white_circle {
      font-weight: 800;
      font-size: 17px;
      margin-left: -1.5px;
  }
  .a_propos {
      padding: 0% 15%;
  }
  .hobbies_div {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
  }
  .hobbies_raw {
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
  }
  .hobbies_raw p {
      margin: 0px 8px 0px 0px;
  }
  .hobbies_raw img {
      height: 20px;
      margin-left: auto;
      margin-right: auto;
  }
  .hobbies_div{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  .hobbie img{
      height: 80px;
      width: auto;
  }
  .img_width{
      width: 70px;
  }
  .pt_black{
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: black;
      margin-right: 3px;
      margin-top: auto;
      margin-bottom: auto;
  }
  .pt_blanc{
      height: 11px;
      width: 11px;
      border-radius: 50%;
      background-color: transparent;
      margin-right: 3px;
      margin-top: auto;
      margin-bottom: auto;
      border: solid 2.5px black;
  }
  /*PARTIE CENTRALE*/
  
  section.center_div {
      padding-left: 40px;
      padding-right: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 75% !important;
  }
  .date_ville{
      display: flex;
      flex-direction: row;
  }
  .dot{
      border: solid 2px #fce758;
      height: 15px;
      width: 19px;
      border-radius: 50%;
      margin-right: 10px;
      display: flex;
      justify-content: center;
  }
  .dot_transp{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 6px;
    display: flex;
    justify-content: center;
}
  .dot2{
    background: #fce758;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-top: 2px;
  }
  .innerdot{
    background: #fce758;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    margin: auto;
    display: block;
  }
  
  ul {
      padding: 0px;
  }
  li {
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      list-style: none;
      width: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0px;
      width: 65%;
      margin-bottom: 20px;
  }
  li p {
      margin-top: auto;
      margin-bottom: auto;
      width: 100%;
  }
  
  .formation_pro {
    margin-top: 20px;
  }
  
  .formation_pro p{
    margin-top: -3px;
  }
  
  .formation_block {
     margin-top: -5px;
  }
  .title_formation {
      display: flex;
      flex-direction: column;
      margin-left: 0;
  }
  
  .experience_pro {
      display: flex;
      flex-direction: row;
      width: 60%;
      justify-content: space-between;
      margin-bottom: 100px;
      margin-top: 30px;
  }
  
  .experience p {
      margin-top: auto;
      margin-bottom: auto;
      margin-bottom: 15px;
      width: fit-content;
  }
  
  .experience {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      margin-left: -28px;
      width: fit-content;
  }
  
  .last_div {
      width: 40%;
  } 


  /*------------------RESPONSIVE--------------------*/

@media only screen and (max-width: 767px) {
    body{
        padding: 0;
        margin: 0;
        width: 100% !important;
    }
    .date_ville {
        display: flex;
        flex-direction: row;
        width: 500px;
        margin-right: 10px;
    }
    .experience_pro {
        width: 100%;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 30px;
    }
	p {
		font-size: 15px;
		width: 90%;
    	margin: auto;
	}
	h1 {
		font-size: 40px;
        text-align: center;
        margin-bottom: 25px;
        margin-top: 25px;
	}
	h2 {
		font-size: 18px;
		margin-top: 40px;
		margin-bottom: -10px;
	}
	h3 {
		font-size: 15px;
	}
	h4 {
		font-size: 15px;
	}
	body {
		flex-direction: column;
	}
	
	section.topbar {
		width: 100%;
	}
	.center_div {
        padding: 10px;
        width: 100%;
	}
	li {
        font-size: 15px;
        width: 100%;
	}
	.title_formation img {
		height: 13px;
		width: auto;
		margin-left: 9px;
	}
	.formation {
		margin-right: auto;
		margin-left: auto;
	}
	img.contact_img {
		height: 25px;
	}
	.presentation {
		margin-top: 5px;
	}
	.portrait_top {
		margin-bottom: 10px;
		height: 150px;
		width: 150px;
	}
	.contact_row {
		margin-bottom: 15px;
	}
	.contact_row p{
		word-wrap: break-word;
		width: fit-content;
	}
	.contact {
        width: fit-content;
        margin-left: 30px;
	}
	.formation {
		border-left: 5px solid black;
		padding-left: -15px;
	}
	.title_formation {
		padding-bottom: 5px;
	}
	.pts {
		margin-top: 5px;
		height: auto;
		font-size: 8px;
		margin-left: 10px;
	}
	span.white_circle {
		font-weight: 800;
		font-size: 8px;
		margin-left: -1.5px;
    }
    section.center_div{
        width: 90% !important;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
	.language_row p {
		width: 60px;
	}
	.languages {
		width: fit-content;
	}
	.img_width img {
		height: 8px;
	}
	.img_width {
		width: 50px;
	}
	.img_width_2 {
		width: 50px;
		flex: 0 0 100px;
		margin-right: -50px;
	}
	
	.pt_black {
		height: 10px;
		width: 10px;
	}
	.pt_blanc {
		height: 5px;
		width: 5px;
	}
	.img_width_2 img {
		width: 100%;
		flex: 0 0 100px;
	}
	.img_width_2 img{
		width: 35%;
		height: auto;
		display: block;
	}
	.programmes_languages {
		flex-direction: column;
	}
	.programmes_languages p {
		margin-left: 0px;
	}
	.programme_row p {
		width: 500px;
		height: auto;
	}
	.pts_prog {
		visibility: hidden;
	}
	.experience img {
		height: 15px;
		margin-left: -2px;

	}
	.experience-pro {
		margin-top: -50px;
	}
	.hobbies_div {
		width: 100%;
	}
	.img_width img {
		height: 15px;
	}
}